
/* body and big stuff */
body {
  font-size: 120%;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gill Sans MT';
  color: #ffffff;
  background-image: url(../img/pinkcombbg1.png);
  background-size: cover;
  background-repeat: repeat-y;
  display: grid;
  grid-template-rows: auto auto auto;
}

body a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'High Tower Text' !important;
}

ul {
    list-style: none;
}



/* header */
header {
    background-color: #264f6B;
    width: 100%;
    display: flex;
    flex-direction: column;
}

header h1 {
    width: fit-content;
    max-width: max-content;
    margin-top: 1.66rem;
    margin-bottom: 1.66rem;
    font-size: 2.5rem;
    display: flex;
    text-shadow: 1px 1px #bd8f00, 1.5px 1.5px #f8d362, 2px 2px #bd8f00;
}



nav {
    width: 80vw;
    align-self: center;
    font-size: 1em;
    display: grid;
    grid-template-columns: auto;
}

#dropdown-navbar_normal {
    display: none;
}



.dropdown {
    position: relative;
    display: inline-block;
    flex: 3 1 auto;
    width: 100%;
    margin-top: 1.66rem;
}

.dropbtn {
    color: #832161;
    background-color: #f8d362;
    font-weight: bolder;
    font-size: 100%;
    font-family: 'Gill Sans MT';
    text-align: center;
  padding: 0.66rem;
  width: 100%;
  border: none;
  border-radius: 6.6px;
  transition: all 300ms;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: #832161;
  margin: 0 auto;
  text-align: center;
  padding: 0.83rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ffeebd
}

.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn, .dropdown:focus .dropbtn {
  background-color: #832161;
  color: #f8d362;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */





/*stuff goes here!*/
h2 {

    text-shadow: 1.5px 1.5px #264f6B;
    margin-top: 0;
    margin-bottom: 1.66rem;
}

#main-body {
    margin: 0 auto;
    align-content: center;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    row-gap: 1.66rem;
}

h1 {
    align-self: center;
    text-align: center;
    font-size: 250%;
}

nav {
    margin: 0 auto;
}

#gallery_links {
    width: 70vw;
    padding: 5%;
    padding-top: 1.66rem;
    background-color: #eda0d37e;
    margin: 0 auto;
    margin-top: 1.66em;
    margin-bottom: 1.66em;
}

#gallery_links div {
    margin: 0 auto;
    margin-top: 1.66em;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    gap: 1.66em;
}

#gallery_links a {
    color: #ffffff;
    text-shadow: 1px 1px #832161;
    font-weight: bold;
    background-color: #4b9cd3;
    text-align: center;
    padding: 1rem;
    border-radius: 6.6px;
    transition: all 300ms;
    flex-basis: 40%;
}

#gallery_links a:hover, #gallery_links a:focus {
    background-color: #f8d362;
    color: #832161;
    text-shadow: none;
}





form {
    width: 70vw;
    padding: 5%;
    padding-top: 1.66rem;
    background-color: #eda0d37e;
    margin: 0 auto;
    margin-top: 1.66em;
    margin-bottom: 1.66em;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 0.66rem;
    text-shadow: 1px 1px #264f6B;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

.f-radiolabel {
    display: inline;
}

label, select, input {
    margin-top: 0.33em;
    margin-bottom: 0.66em;
}

#fldst-color div {
    display: block;
}

#f-submit {
    width: 100%;
    font-family: 'Gill Sans MT';
    font-size: 1.2rem;
    font-weight: bold;
    background-size: 200%;
    background-position: 0% 0%;
    background-color: #4b9cd3;
    color: #ffffff;
    text-shadow: 1px 1px #832161;
    border: none;
    border-radius: 6.6px;
    margin-top: 1.66rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 300ms;
}

#f-submit:hover, #f-submit:focus {
    background-color: #f8d362;
    color: #832161;
    text-shadow: none;
}

#f-submit:active {
    background-color: #eda0d3;
    color: #ffffff;
    text-shadow: 1px 1px #264f6B;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */











/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/*ALRIGHT all mobile query stuff under here*/

@media screen and (min-width: 950px){
    #dropdown-navbar_mobile {
        display: none;
    }

    #dropdown-navbar_normal {
        display: grid;
    }

    #main-body {
        display: grid;
        column-gap: 5%;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: auto auto;
    }
    nav {
        width: auto;
        min-width: 40vw;
    }

    form {
        width: auto;
    }
    
    #gallery_links {
        width: auto;
    }

    #gallery_links div {
        margin-top: auto;
        margin-bottom: auto;
    }

    #footer_mobile {
        display: none;
    }

    #footer_normal {
        display: flex;
    }
}










/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* color refs

final
bl1: #4B9CD3
bl2: #264F6B
pi1: #832161
pi2: #EDA0D3
    half-ish trans: #eda0d37e
ye1: #F8D362
ye2: #BD8F00
*/





/*blank character that takes up space:
"‏‏‎ ‎"*/